<div class="d-flex justify-content-start mx-4 my-1 border-start px-2 mb-3 border-2 border-success">
  <a class="text-decoration-none" href="<%= users_path + '/' + comment.author.id.to_s %>">
    <%= comment.author.name %>:&nbsp;
  </a>
  
  <i>
    <%= comment.text %>
  </i>

  <div class="ms-auto">
    <%= render partial: 'posts/delete_comment', locals: { comment: comment } %>
  </div>
</div>